body{
  background: url("milkyway.jpg");
  color: white;
}
header{
  margin: 0;

  background-position: right;
  background-size: cover;
 }
 head {
   color: white;
 }
 img{
   display: left;
   padding: 20px;
   margin: 0 auto;
   border-radius: 150px;
   object-fit: cover;
   height: 250px;
 }
h1,h2 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: fantasy;
}
h1{
  font-size: 2.5em;
}
h2{
  font-size: 1.5em;
}
button{
font-weight: bold;
font-family: fantasy;
border: none;
padding: 15px 25px;
text-align: center;
font-size: 2.4em;
cursor: pointer;
border-radius: 22px;
color: white;
}
li {
  color: white;
}
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
div {
  justify-content:space-evenly;
}
